<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Counter</title>
</head>
<body>
    <h1 style="align-items:center" >Counter</h1>
    <h2 style="align-items:center">{{session["count"]}} times</h2>
    <form action="/count" method="post" style="align-items:center">
        <button name="change" value="add" type="submit" class="btn btn-primary btn-lg" style="background-color: salmon">Visits</button>
        <button name="change" value="reset" type="submit" class="btn btn-primary btn-lg" style="background-color: green">Reset</button>
    </div>
</body>
</html>